

body{
color:rgb(0, 0, 0);
font-family: "Qwitcher Grypen", cursive;
background:white;

}

header {
border:solid 2px rgb(32, 101, 104);
margin: 0;
}

header {
    border:solid 2px rgb(229, 229, 230)

    padding 20px;
    font-size:32px;
}

section {
    background: rgb(215, 215, 223);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;

}
.chamada-texto {
    margin-right: 5%;
}
h1{
    font-size: 40px;
}
p{
   font-size: 20px;
}
img{
    height: 200px:
}
.categoria-videos{
    display:flex;
    overflow-x:auto;
    gap:10px;
}
.categoria{
 padding-left:20px;
 padding-right: 20px;
 margin-top: 0.5;
}
.categoria-videos img{
    opacity: 0.5;
}
.categoria-videos img:hover{
    opacity: 1.0;
    border: 1px solid rgb(0, 0, 0);
}
.categoria h2 {
     color: rgb(222, 222, 241);
}

